.wrapper{
   margin-top: 1.5em;
}

.wrapper table{
   font-size: 14px;
}
.wrapper table thead tr th{
   padding: .85em 0;
   text-align: center;
   font-weight: 500;
   color: var(--app-gray-light);
   background: var(--app-bg);
   border: none;
}
.wrapper table thead tr th.hover{
   cursor: pointer;
}
.wrapper table thead tr th:first-child{
   border-radius: 8px 0 0 8px;
}
.wrapper table thead tr th:last-child{
   border-radius: 0 8px 8px 0;
}
.arrowSort{
   margin-left: .25em;
   transition: .15s;
}
.arrowSort.revert{
   transform: rotate(180deg);
}

.wrapper tbody tr{
   border-bottom: 1px solid var(--app-dark-blue);
   transition: .15s;
}
.wrapper tbody tr:hover{
   cursor: pointer;
   background: var(--app-bg-opac-35);
}
.wrapper tbody tr td{
   padding: 1.25em 0;
   background: none;
   text-align: center;
}
.wrapper tbody tr td.actions img{
   margin: 0 .35em;
   transition: .25s;
}
.wrapper tbody tr td.actions img:hover{
   cursor: pointer;
   opacity: .65;
}

/*loaderConatiner*/
.loaderConatiner{
   width: 100%;
   padding: 15%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.loaderConatiner h4{
   margin: 0;
   font-weight: 400;
}

/*footer*/
.footer{
   margin-top: 1.85em;
   display: flex;
   justify-content: center;
}

/*media*/
@media (max-width: 767px) {
   .wrapper table thead tr th:not(:nth-child(1)):not(:nth-child(2)),
   .wrapper table tbody tr td:not(:nth-child(1)):not(:nth-child(2)){
      display: none;
   }
   .wrapper table thead tr th:nth-child(2){
      border-radius: 0 8px 8px 0;
   }
   .wrapper table thead tr th,
   .wrapper table tbody tr td{
      max-width: 150px;
      overflow:hidden;
      white-space:nowrap;
      text-overflow: ellipsis;
   }
}